In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Getting data

In [102]:
nodes = pd.read_csv("../data/large_synthetic_fog_nodes.csv")
tasks = pd.read_csv("../data/large_synthetic_tasks.csv")

nodes.info()
tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Node_ID                       500 non-null    object
 1   Processing_Power_GHz          500 non-null    float64
 2   Available_Memory_GB           500 non-null    int64
 3   Energy_Consumption_Rate_J_ms  500 non-null    float64
 4   Network_Latency_ms            500 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 19.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Task_ID                    11000 non-null  object
 1   Task_Length_MIns           11000 non-null  int64
 2   Arrival_Time_s             11000 non-null  int64
 3   Deadline_s                 11000 non-null  int64
 4   Required_Computation_MIPS  11000 non-null  int64
 5   Task_Allocation            11000 non-null  object
 6   Execution_Delay_ms         11000 non-null  float64
 7   Energy_Consumption_J       11000 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 687.6+ KB

In [107]:
nodes.head()

,Node_ID,Processing_Power_GHz,Available_Memory_GB,Energy_Consumption_Rate_J_ms,Network_Latency_ms
0,N1,3.228483,89,0.328811,28
1,N2,1.615700,71,0.553022,32
2,N3,2.020780,70,0.231735,23
3,N4,1.806147,15,0.543662,14
4,N5,1.590314,58,0.680510,38

In [110]:
tasks.head()

,Task_ID,Task_Length_MIns,Arrival_Time_s,Deadline_s,Required_Computation_MIPS,Task_Allocation,Execution_Delay_ms,Energy_Consumption_J
0,T1,8189,178,38,4620,Cloud,2895.685833,1703.730027
1,T2,2937,693,125,2225,Cloud,934.965670,243.805511
2,T3,1486,372,124,3954,Cloud,835.975051,376.888729
3,T4,4687,279,76,4455,Cloud,1617.295452,1090.691451
4,T5,1447,13,13,4776,Fog,425.592142,248.998343

In [ ]:
mapping = {'Cloud': 1, 'Fog': 2}
tasks['Task_Allocation'] = df['Task_Allocation'].map(mapping)

In [117]:
tasks.Task_Allocation.value_counts()

Task_Allocation
Cloud    10182
Fog        818
Name: count, dtype: int64

# EDA